body{
    font-family: Rubik,'Times New Roman', Times, serif;
}

/* header */

header{
    margin-right: 0px;
    padding-right: 0px;
}
img{
    float: right;
    vertical-align: middle;
}

.right_header{
    background-image: url('../images/header.jpg');
    background-size: cover; 
    background-position: center;
    border-radius: 3%;
    border: 2px solid #117272;
    margin-top: 1%;
    box-shadow: 2px 4px rgba(55, 55, 55,0.3);
}

.left_header{
    margin-top: 1.5%;
    color: rgb(4,63,61);
    font-weight: bold;
  
}

.left_header h3{
    text-align: center;
    background-color: rgb(9, 153, 144);
    color: rgb(255,254,246);
    border-radius: 5%;
}

/* style breadcrumb */

ul.breadcrumb{
    list-style: none;
    background-color: #eee;
    padding-left: 12vw;
}

ul.breadcrumb li{
    display: inline; 
    font-size: 15px;
}
ul.breadcrumb li+li:before{
    padding: 8px;
    color: #064E4A;
    content: "/\00a0";
}
ul.breadcrumb li a{
    color:#064E4A;
}

ul.breadcrumb li a.current{
    color:rgb(255,139,0);
}
/* end breadcrumb style */

.left_header span{
    font-size: 120%;

}

.email_1{
    float: center;
    text-align: center;
}

.right_header p {
    visibility: hidden;
}

header h6 {
    text-align: center;
    color: rgb(136, 132, 132);
    margin-top: 2%;
}


/* styling main section  */
main > h1{
    color:  rgb(255,139,0);
    text-align: center;
    margin: 40px 0px 50px 0px;

}

main > h1 > span{
    border-bottom: 1px solid  rgb(3,153,144);
    
}

.blog_main{
    margin: 30px;
    padding: 22px 14px ;
    border-radius: 3%;
    color: rgb(4,63,61);
    border: 2px solid rgb(3,153,144);
    text-align: center;
}

.blog_main:hover{
    border: 2px solid rgb(255,139,0);
    position: relative;
    top: -5px;
    left: -7px;
    box-shadow: 5px 7px 5px rgba(4,63,61,0.5);
}

.blog_main h3{
    color: rgb(255,139,0);
}

.blog_main > img{
    max-width: 250px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 0px auto;
    border-left: 2px solid rgba(100,100,100,0.5);
    border-right: 2px solid rgba(100,100,100,0.5);
    float: none;
    display: block;
}

.main_button{
    text-align: center;
}

.main_button button{
    color: rgb(244, 250, 246);
    background-color: rgb(9, 153, 144);
    margin: 35px 0px 65px 0px;
    padding: 7px 19px;
    border-radius: 5%;
}

.main_button button:hover{
    color: rgb(244, 250, 246);
    background-color:rgb(255,139,0); 
    border-color: wheat;
}

.continue_reading_btn{
    margin-top: 17px;
    color: rgb(9, 153, 144);
    border-color: rgb(9, 153, 144);
    border-radius: 15px;
}

.continue_reading_btn:hover{
    color: rgb(255,139,0);
    border-color: rgb(255,139,0);
}
@media only screen and (max-width: 800px){

}

/* styling modal */
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.2s;
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    top:18%;
    left: 12.5%;
    background-color: #fefefe;
    width: 75%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.2s;
    animation-name: slideIn;
    animation-duration: 0.2s;
    border: 1.5px solid rgb(255,139,0);
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.8;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {    
    padding: 5px 16px;
    background-color: #117272;
    color: #fefefe;
  }

  .modal-body{
      color: rgb(36, 39, 39);
      font-size: large;
  }

  .img_modal{
        max-width: 400px;
        width: 100%;
  }
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
/* stlye user upload button */
  .user_add_btn{
      background-image: url('../images/head.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 75px  75px  65px  75px;
      text-align: center;
      margin: 20px 0px 40px 0px;
      color: #FFFEF6;
  }


.user_add_btn h4{
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 4px 6px rgb(255,255,255,0.6)
}

.add_btn{
    background-color: rgb(255,139,0);
    color: white;
    border-radius: 18%;
    margin-top: 30px;
    padding: 5px 12px;
}

.add_btn:hover{
    background-color: white;
    color: rgb(255,139,0);
    font-weight: 600;
    border-color: rgb(255,139,0);
}

/* style user upload page */

.userAddBlog{
    padding: 25px;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 3px solid #039990;
    color: #043F3D;
    font-size: 18px;
}
textarea{
    overflow: auto;
    width: 88%;
}

.userAddBlog h2{
    text-align: center;
    color: white;
    text-shadow: 2px 4px 5px rgba(55,55,55,0.3) ;
    border-bottom: 1px solid #039990;
    background-color: #039990;
}

input[type=submit] , input[type=reset]{
    color: white;
    width: 120px;
    background-color: rgb(255,139,0);
    border-radius: 8%;
    box-shadow: 1px 2px 5px #555;
}

input[type=submit]:hover , input[type=reset]:hover{
    background-color: #039990;
    box-shadow: 2px 4px 10px #555;
}

#blogTitle{
    width: 90%;
}

/* login page styling */
.Content{
    font-size: 22px;
    font-weight: 600;
    border: 2px solid #ff8b00;
    padding: 5vh;
    border-radius: 5%;
    /* margin: 20vh auto; */
    margin: 5px auto;
    text-align: left;
    box-shadow: 4px 8px 10px gray;
    
}
body.login{
    
    background-image: linear-gradient(145deg, #039990, transparent);
    
}
.login a{
    text-decoration: underline;
    font-size: 16px;
}
.login img{
    margin-top: 55px; 
    float: left;
}

.login input[type=submit]:hover{
    background-color: white;
    color:#ff8b00 ;
    font-weight: 600;
}

.forgot_pass{
    width: 40%;
    top: 35%;
    margin: 0% 18%;
}

.forgot_pass h4{
    color: #043F3D;
}
.forgot_pass span{
    color: #000;
}
/* style blog page */

.blog_Main {
    border: 1px solid gray;
    margin-top: 20px;
    padding: 22px 14px;
    color: rgb(4,63,61);
    text-align: left;
    background-image: linear-gradient(120deg black transparent );

}
.blog_Main:hover{
    box-shadow: 2px 2px 4px grey;
    position: relative;
    top: -5px;
    left: -7px;
}
.blog_Main img{
max-width: 250px;
width: 100%;
height: 150px;
border-radius: 10px;
border-left: 2px solid rgba(100,100,100,0.5);
border-right: 2px solid rgba(100,100,100,0.5);

}

.blog_Main h3{
    color: #ff8b00;
}

.blog_Main h6{
    color: black;
    font-weight: 600;
}

.blog_Main h6:hover{
    text-decoration: underline;
    color: rgb(4,63,61);
    cursor:pointer;
}

.blog_Main p{
    color: black;
}

/* admin pages button style */  
  
.openbtn {
    cursor: pointer;
    background-color: #eee;
    color: rgb(4,63,61);
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 140px;
    right: 19px;
}

.openbtn_right{
    text-align: right;
}
  .openbtn:hover {
    background-color: rgb(4,63,61);
    color: white;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* EVENTS PAGE STYLE */
.event{
    text-align: center;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 2px 4px 10px grey;
    margin: 20px;
}

#currentDate{
    color: #777;
}

/* admin home page style */

.adminHomePage .blog_main{
    padding-top: 0px;
}
.deleteBlogBtn {
    font-size: 27px;
    font-weight: 600;
    float: right;
    color: #043f3d;
}

.deleteBlogBtn:hover{
    color: #333;
}